{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>
            Please, use the following form to login.
            if you don't have an account <a href="{% url 'register' %}">register here</a>. 
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="login"></p>
        </form>
        {% comment %}
        <p>
            <a href="{% password_reset %}">
                Forgetten your password?
            </a>
        </p>
        {% endcomment %}
    </div>
{% endblock %}